<div class="lcars-row">
    <div class="lcars-bracket left" [ngClass]="{'lcars-pale-canary':searching}"></div>
    <input class="lcars-element lcars-u-2-1" (change)="search($event)" placeholder="SEARCH">
    <div class="lcars-bracket right"></div>
</div>
<div class="lcars-row">
    <div class="lcars-bracket left"></div>
    <div class="lcars-column scrollable">
        <div class="lcars-element lcars-text lcars-u-2-1" *ngFor="let m of ships|async" [routerLink]="['/ships', m.id]" queryParamsHandling="merge">{{m.callsign}} - {{m.name}}</div>
    </div>
    <!--<div class="lcars-bracket right"></div>-->
</div>


