<div class="lcars-app-container">

    <div class="lcars-column" style="width: 427px; margin-right:0.15em">

        <div class="lcars-row header">
            
            <!-- BAR WITH TITLE -->
            <div class="lcars-bar horizontal">
                <div class="lcars-title left" (click)="active='ships'" >Ships</div>
                <div class="lcars-title left" (click)="active='models'" >Models</div>
            </div>
            
            <!-- ELBOW -->
            <div class="lcars-elbow right-bottom lcars-tan-bg"></div>
      
        </div>
      
        <!-- SIDE MENU ================================================= -->
      
        <div id="lcars-col-l" class="lcars-column start-space lcars-u-1">
      
            <!-- FILLER -->
            <div class="lcars-bar lcars-u-1"></div>

        </div>
      
        <!-- FOOTER ==================================================== -->
      
        <div class="lcars-row ">
            <!-- ROUNDED EDGE -->
            <div class="lcars-bar horizontal left-end left-divider bottom"></div>
            <!-- BAR -->
            <div class="lcars-bar horizontal both-divider bottom"></div>
            <!-- ELBOW -->
            <div class="lcars-elbow right-top lcars-tan-bg"></div>
        </div>

    </div>

    <div id="lcontainer">
        <fleetcommand-shiplist *ngIf="active==='ships'"></fleetcommand-shiplist>
        <fleetcommand-modelslist *ngIf="active==='models'"></fleetcommand-modelslist>
    </div>

    <div class="lcars-column" style="width: calc(100vw - 417px)">
  <!-- HEADER ==================================================== -->

  <div class="lcars-row header">

      <!-- ELBOW -->
      <div class="lcars-elbow left-bottom lcars-tan-bg"></div>

      <!-- BAR WITH TITLE -->
      <div class="lcars-bar horizontal">
          <div class="lcars-title right">LCARS - Fleet Command</div>
      </div>

      <!-- ROUNDED EDGE DECORATED -->
      <div class="lcars-bar horizontal right-end decorated"></div>
  </div>

  <!-- SIDE MENU ================================================= -->

  <div id="lcars-col-r" class="lcars-column start-space lcars-u-1">

      <!-- FILLER -->
      <div class="lcars-bar lcars-u-1"></div>
  </div>

  <!-- FOOTER ==================================================== -->

  <div  class="lcars-row ">
      <!-- ELBOW -->
      <div class="lcars-elbow left-top lcars-tan-bg"></div>
      <!-- BAR -->
      <div class="lcars-bar horizontal both-divider bottom"></div>
      <!-- ROUNDED EDGE -->
      <div class="lcars-bar horizontal right-end left-divider bottom"></div>
  </div>

    <div id="rcontainer">
    <router-outlet></router-outlet>
    </div>
</div>
</div>
