<div class="lcars-app-container">
  <div class="lcars-column" style="width: 427px; margin-right: 0.15em">
    <div class="lcars-row header">
      <!-- BAR WITH TITLE -->
      <div class="lcars-bar horizontal">
        <div class="lcars-title left" (click)="active = 'ships'">Ships</div>
        <div class="lcars-title left" (click)="active = 'models'">Models</div>
      </div>

      <!-- ELBOW -->
      <div class="lcars-elbow right-bottom lcars-tan-bg"></div>
    </div>

    <!-- SIDE MENU ================================================= -->

    <div id="lcars-col-l" class="lcars-column start-space lcars-u-1">
      <!-- FILLER -->
      <div class="lcars-bar lcars-u-1"></div>
    </div>

    <!-- FOOTER ==================================================== -->

    <div class="lcars-row">
      <!-- ROUNDED EDGE -->
      <div class="lcars-bar horizontal left-end left-divider bottom"></div>
      <!-- BAR -->
      <div class="lcars-bar horizontal both-divider bottom"></div>
      <!-- ELBOW -->
      <div class="lcars-elbow right-top lcars-tan-bg"></div>
    </div>
  </div>

  <div id="lcontainer">
    <fleetcommand-shiplist *ngIf="active === 'ships'"></fleetcommand-shiplist>
    <fleetcommand-modelslist
      *ngIf="active === 'models'"
    ></fleetcommand-modelslist>
  </div>
<router-outlet></router-outlet>
</div>
