<div class="lcars-row" style="margin-top: 5px"  >
    <div class="lcars-column">
      <div class="lcars-row" style="width: calc(100vw - 568px)">
        <div class="lcars-elbow left-bottom"></div>
        <div class="lcars-bar horizontal"></div>
      </div>
      <div class="lcars-column scrollable-short">
        <div class="lcars-row pull-up">
          <div class="lcars-column">
            <div class="lcars-bar lcars-u-1"></div>
          </div>
          <div class="lcars-row">
            {{ data | json }}
          </div>
        </div>
      </div>
      <div class="lcars-row">
        <div class="lcars-elbow left-top"></div>
        <div class="lcars-bar horizontal bottom"></div>
      </div>
    </div>
  </div>